$machineHeight: 400px;
$machineWidth: 435px;
$spinDuration: 0.3s;

.slot-machine {
  height: $machineHeight;
  overflow: hidden;
  padding: 0;
  background-color: #fff;
  margin-left: 10px;
  margin-top: 30px;
  width: $machineWidth;
  display: flex;
  position: relative;
  float: left;

  .slot-reel {
    border: 2px solid #35e3ff;
    transform-style: preserve-3d;
    width: 143px;

    .spin {
      height: $machineHeight;
      width: 50px;
      animation-name: x-spin;
      animation-duration: $spinDuration;
      transform-style: preserve-3d;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      .slot-symbol {
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
    .stopped {
      margin-top: -60px;

      .slot-symbol {
        margin-top: 20px;

        &.winner {
          background-color: #ffd600;
        }
      }
    }
  }

  .slot-ruler {
    position: absolute;
    top: 0px;
    left: 0px;
    height: $machineHeight;
    width: $machineWidth;

    hr {
      border-style: solid;
      border-width: 1px;

      &:nth-child(1) {
        margin-top: 80px;
      }
      &:nth-child(2) {
        margin-top: 145px;
      }
      &:nth-child(3) {
        margin-top: 145px;
      }
    }
  }
}

@-webkit-keyframes x-spin {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(180deg);}
  100% {transform: rotateX(360deg);}
}
